.entry-content,
.page-content {

  img {
    max-width: 100%;
    height: auto;
  }

  img.alignnone,
  figure.alignnone {
    @extend .full-width;
  }

  @include media-breakpoint-down(xs) {
    img,
    figure {
      width: calc(100% + 32px) !important;
      max-width: 100vw;
      margin-left: -16px;
    }
  }
}
